
.field input,
.field textarea,
.field select 
.field MultiSelect {
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  transition: border-color 150ms ease;
}

.field input:focus,
.field textarea:focus,
.field select:focus {
  outline: none;
  border-bottom-color: #228be6;
}

.field textarea {
  resize: none;
}